@use './partials/variables' as c;

.no-shadow {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border: 1px solid lightgreen;
    background-color: lightcoral;
    padding: 0;

    .slide {
        border: 1px solid black;
        height: 300px;
    }

    .vueperslides__arrow {
        top: 40% !important;
        transform: translateY(-50%) !important;
    }

    .profile-image {
        width: 50px;
        height: 50px;
    }
}