@use './partials/variables' as c;

section {
    background-color: c.$default-color;

    .companion_img {
        position: relative;
        width: 500px;

        img.avatar {
            position: sticky;
            z-index: 2;
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .secondary_img {
            width: 100px;
            position: absolute;
            bottom: -20%;
            right: -2%;
        }

        .tertiary_img {
            width: 120px;
            position: absolute;
            left: -10%;
            top: 10%;
            z-index: 1;
        }

        .ms_ring {
            height: 50px;
            width: 50px;
            border: 6px solid #ffbe6b;
            border-radius: 50%;
            position: absolute;
            top: -15%;
            right: -30%;
        }

        .ms_jelly {
            height: 150px;
            width: 200px;
            background-color: #ffbe6b;
            border-radius: 50% 60% 40% 70%/60% 40% 50% 70%;
            position: absolute;
            top: -15%;
            left: -10%;
            rotate: 221deg;
            z-index: 0;
          }
    }

    .companion_text {

        span {
            color: c.$grtext-color;
        }

        span:last-child {
            color: c.$powder-color;
        }

        h2 {
            color: c.$powder-color;
        }

        h2.fw-light {
            color: c.$secondary-color;
        }

        p {
            color: c.$grtext-color;
        }

        a {
            color: c.$secondary-color;
        }
    }
}