@use './partials/variables' as c;

.jumbo-container {
    background-color: c.$default-color;

    .jumbo_img {
        width: 300px;
        position: relative;

        img.avatar {
            border-radius: 50%;
            position: sticky;
            z-index: 1;
        }

        .secondary_img {
            width: 80px;
            position: absolute;
            top: 20%;
        }

        .tirtiary_img {
            width: 90px;
            position: absolute;
            bottom: 0%;
            right: 10%;
        }

        .quaternary_img {
            width: 70px;
            position: absolute;
            left: -10%;
            top: 20%;
        }

        .quinary_img {
            width: 70px;
            position: absolute;
            left: -10%;
            top: 50%;
        }

        .ms_ring {
            height: 30px;
            width: 30px;
            border: 4px solid #ffbe6b;
            border-radius: 50%;
            position: absolute;
            bottom: 23%;
            left: -5%;
            z-index: 1;
        }
    }

    .jumbo_text {

        h1 {
            color: c.$powder-color;
        }

        p {
            color: c.$grtext-color;
        }
    }

    button {
        background-color: c.$secondary-color;
        color: c.$default-color;
    }

    .link_question {
        color: c.$grtext-color;
    }

    .link_download {
        color: c.$secondary-color;
    }
}