@use './partials/variables' as c;


section {
    
    h3 {
        color: c.$powder-color;
    }
    
    h6 {
        color: c.$grtext-color;
    }
    
    span {
        color: c.$secondary-color;
    }
}
